<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <import resource="GameBeans.xml" />
        <import resource="FightersBeans.xml" />

        <bean id="fightersPool" class="Fighters.FightersPool">
            <constructor-arg name="fightersPool">
                <list>
                    <ref bean="GGfighterPro" />
                    <ref bean="MKfighterPro" />
                    <bean id="multyFighter" class="Fighters.Fighter" >
                        <constructor-arg value="Fidoskin" type="java.lang.String" index="0" />
                        <constructor-arg value="25" type="int" index="1" />
                        <constructor-arg value="true" type="boolean" index="2" />
                    </bean>
                </list>
            </constructor-arg>
        </bean>
</beans>